<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DatabaseSourceConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DatabaseSource.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DataSource.Properties.Settings.DatabaseSourceConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DatabaseSource.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DataSource.Properties.Settings.DataSourceAutobotConnectionString" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=DataSourceAutobot;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DataSourceAutobotEntities" connectionString="metadata=res://*/AutoBotDataSource.csdl|res://*/AutoBotDataSource.ssdl|res://*/AutoBotDataSource.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;initial catalog=DataSourceAutobot;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutobotDataSourceContainer" connectionString="metadata=res://*/AutobotDataSource.csdl|res://*/AutobotDataSource.ssdl|res://*/AutobotDataSource.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;initial catalog=DataSourceAutobot;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutobotDataSourceEntities" connectionString="metadata=res://*/AutobotDataSource.csdl|res://*/AutobotDataSource.ssdl|res://*/AutobotDataSource.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;initial catalog=DataSourceAutobot;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>